<h1><strong>Luanne Seaman</strong></h1>
<p>I am a web developer in training.  I am from Alpharetta, Georgia.  My other hobbies are reading and exercising</p>
<em>"To be or not to be.  That is the question."</em>
